<router-outlet></router-outlet>
<nav class="navbar navbar-dark bg-dark">
    <h4 class="text-white h4 m-3">Abbie L. Mercado</h4>
</nav>

<div class=" m-5 row pt-3">
  <div class="col-12 col-md-4">
      <h3 class=" card card-header">Input</h3>
      <form #userForm="ngForm" (submit) ="addUser()" class="form card p-3">
          <div class="form-group">
              <label>Name</label>
              <div class="form-inline row">
                <input type="text" name="userName" required #name="ngModel" [(ngModel)]="userName"  [class.invalid]="name.invalid && name.touched" class="form-control col-10 ml-3"><span class="col" *ngIf="name.invalid">*</span>
              </div>
              <div *ngIf="name.invalid && name.touched" class="text text-danger">this is required</div>
          </div>
          <div class="form-group">
              <label>Age</label>
              <div class="form-inline row">
                <input type="number" name="userAge" required #age="ngModel" [(ngModel)]="userAge" [class.invalid]="age.invalid && age.touched" class="form-control col-10 ml-3"><span class="col" *ngIf="age.invalid">*</span>
              </div>
              <div *ngIf="age.invalid && age.touched" class="text text-danger">this is required</div>
          </div>
          <div class="form-group">
              <input type="submit" *ngIf="userForm.valid" class="form-control btn-primary">
          </div>
      </form>
  </div>
  <div class="col-12 col-md-8">
      <table class="table text-center " border="1">
          <tr class="thead-dark">
              <th>Name</th>
              <th>Age</th>
              <th>Action</th>
          </tr>
          <tr *ngFor="let user of users">
              <td>{{user.name}}</td>
              <td>{{user.age}}</td>
              <td>
                  <button class="btn btn-warning m-1" data-toggle="modal" data-target="#exampleModal"> Update </button>
                  <button class="btn btn-danger m-1" (click) = "deleteUser(user._id)"> Delete </button>
              </td>
          </tr>
      </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #updateUserForm="ngForm" (submit) ="updateUser(tempData._id)" class="form card p-3">
          <div class="form-group">
              <label>Name</label>
              <div class="form-inline row">
                <input type="text" name="userName_up" required #name_up="ngModel" [(ngModel)]="userName_up"  [class.invalid]="name_up.invalid && name_up.touched" class="form-control col-10 ml-3"><span class="col" *ngIf="name_up.invalid">*</span>
              </div>
              <div *ngIf="name_up.invalid && name_up.touched" class="text text-danger">this is required</div>
          </div>
          <div class="form-group">
              <label>Age</label>
              <div class="form-inline row">
                <input type="text" name="userAge_up" required #age_up="ngModel" [(ngModel)]="userAge_up" [class.invalid]="age_up.invalid && age_up.touched" class="form-control col-10 ml-3"><span class="col" *ngIf="age_up.invalid">*</span>
              </div>
              <div *ngIf="age_up.invalid && age_up.touched" class="text text-danger">this is required</div>
          </div>
          <div class="form-group">
              <input type="submit" *ngIf="updateUserForm.valid" class="form-control btn-primary">
          </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>